body {
    background-color: #aad4cf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
#sf-image {
    display: inline-block;
    width: 100%;
} 
#assi-title {
    color: rgb(255, 255, 255);
    margin-top: -120px;
    position: absolute;
    margin-left: 400px;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    background: #d4e9e7;
}
#sf-image2 {
    width: 220px;
    height: 220px;
    float: left;
    margin-right:17px;
    margin-bottom: 6px;
}
nav {
    margin-bottom: 1.5em;
}
nav ul a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 25px;
}
nav ul {
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-right: black 2px solid;
    width: 33%;
}
nav ul li:last-child {
    border: none;
}

#contact {
    border: 1.5px solid rgb(0, 0, 0);
    padding: 1em;
    
}
.margin {
    margin: 0.5em;
}
#contact input[type="text"] , input[type="email"]  , textarea {
    width: 100%;
    margin: 0.5em;

}
nav ul a:hover,
nav ul a:focus {
  text-decoration: underline;
}
footer {
    text-align: right;
    padding: 1em;
}
button {
    background-color: #d4e9e7 ;
    padding: 0.5em;
    border: 1.5px solid rgb(0, 0, 0);
    margin-top: 1em;
}